*.o
*.lo
*.a
*.la
*/.deps
*/.libs
*.gz
*.orig
*~
autom4te.cache
config.log
config.status
config/config.guess
config/config.h
config/config.h.in
config/config.sub
config/depcomp
config/missing
config/stamp-h1
config/ar-lib
Makefile
Makefile.in
aclocal.m4
libtool
mt2test